        p{
            font-family: Arial, Helvetica, sans-serif;
        }
        .create_event_board {
            display: flex;
            margin: 20px;
            flex-direction: row;
            background-color: #e8e8e8; /* Choose a pale, grainy color */
            height: 320px;
            justify-content: space-between;
            align-items: center;
            border-radius: 15px; /* Add rounded corners to create the card effect */
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Add box shadow for elevation */
            padding: 20px; /* Add some padding for spacing within the card */
            backdrop-filter: blur(15px); /* Apply a grainy blur effect to the background */
        }
        .event_board_image{
            height: 280px;
            width: 280px;
            margin-right: 120px;
        }
        .board_text{
            font-size: 48px;
            font-weight: bold;
            margin-left: 80px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        .board_sub_text{
            font-size: 24px;
            margin-top: 0px;
            margin-left: 80px;
        }
        .create_event_button {
            margin-left: 80px;
            
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none; /* Remove underline */
            background-color: rgb(0, 0, 0);
            padding: 12px 30px;
            border-radius: 25px;
            color: azure;
            transition: background-color 0.3s, color 0.3s; /* Add transitions for smooth effects */
        }

        .create_event_button:hover {
            background-color: #3f3f3f; /* Change background color on hover */
        }

        .create_event_button:active {
            background-color: #060606; /* Change background color on click */
            color: #fff; /* Change text color on click */
        }